@import url(/css/style.css);

.m > .header-title{
  font-family: "Livvic";
  font-weight:700;
  font-size: 64px;
  line-height: 100px;
  margin-bottom: 2rem;
}

.header{
  background-color: #014e56;
  padding-top: 73px;
  padding-bottom: 73px;
  height: 517px;
  background-image: url(../images/Group\ 8\ \(3\).png);
  background-repeat: no-repeat; 
  background-position: right  bottom;
}

.m {
  display: flex;
  margin-bottom: 50px;
  gap:10rem;
}

.mein {
  margin-top: 129px;
  position: relative;
}

.main{
  padding-top: 73px;
  margin-bottom: 73px;
  height: 1002px;
  background-image: url(../images/Group\ 8\ \(2\).png), url(../images/about.img/directors-rect.svg);
  background-repeat: no-repeat,no-repeat; 
  background-position: left  top, right bottom;
}

.mein p {

  font-family: 'Livvic';
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #ffffff;

}

.main-title{
  font-family: "Livvic";
  font-weight:700;
  font-size:48px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin-top: 142px;
}

.main-container > .main-imgs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1110px;
  height: 610px;
  margin: 64px 165px;
  gap: 30px;
  padding-bottom: 165px;
}

.main-img{
  width: 350px;
  height: 253px;
  background-color: #012f34;
  margin-bottom: 30px ;
}

.main-img >  img{
  margin:32px 127px 16px 127px;  border-radius: 50%;
}

.main-img > p{
  text-align: center;
}

.main-imgs-name{
  font-weight:700;
  font-size: 18px;
  line-height:28px;
  color: #79C8C7;
}

.main-imgs-names{
  margin: 35px 24px 8px 24px;
  color: #79C8C7;
}

.main-imgs-work{
  font-weight:500;
  font-style: italic;
  font-size: 15px;
  line-height:25px;
}

.main-imgs-works{
  width: 254px;
  height: 75px;
  margin-left: 55px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom:4.4px ;
}

.main-imgs-works > img {
  display: inline;
  margin-bottom: 35px;
}

.main-img-block{
  width: 56px;
  height: 56px;
  margin-left: 147px;
  background-color: #f67e7e;
  border-radius: 50%;
}

.main-img-blocks{
  width: 56px;
  height: 56px;
  margin-left: 147px;
  margin-top: 79px;
  background-color: #79c8c7;
  border-radius: 50%;
}

.main-img-plus{
  margin: 20px;
}

.some-of-our-clients{
  width: 100%;
  
  height: 437px;
  background-color:#012f34;
  background-image: url(../images/about.img/clients-circle.svg);
  background-repeat:no-repeat;
}

.some-of-our-clients-title{
  font-family: "Livvic";
  font-weight:700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 64px;
  padding-top:140px
}

.some-of-our-clients-texts{
  margin-top: 64px;
  margin-left: 165px;
}

.cta {
  padding: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content:space-around;
  padding-left: 260px;
  margin-right:auto ;
  width: 100%;
  height: 100%;
  background: #F67E7E;
    top: 2129px;
    opacity: 0px;
    height: 200px;
    background-image:url(../images/Group\ 8\ \(5\).png);
    background-repeat:no-repeat;
    background-position:left bottom
}

.cta h2 {
  color: #002b36;
  font-weight:700;
  font-size: 48px;
  line-height: 48px;
}



.contact-button:hover {
  background-color: #073642;
}

footer{
margin-top:  37%;
}